@font-face {
  font-family: myFirstFont;
  src: url(Monoton-Regular.ttf);
  font-weight: bold;
}

*, *::after, *::before {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: myFirstFont;
}

body .navbar {
  width: 100vw;
  height: 60px;
  background-color: #000000;
}

body .navbar .nav-item {
  width: 50%;
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navbar .nav-item ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

body .navbar .nav-item ul a {
  margin-right: 10px;
  width: 20%;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

body .navbar .nav-item ul a li {
  font-size: 15px;
  line-height: 25px;
  width: 100%;
  font-weight: 700;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

body .navbar .nav-logo {
  width: 50%;
  height: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .navbar .nav-logo h1 {
  color: #fff;
}

body .navbar .nav-logo img {
  width: 50px;
}

body .home {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #302f2f;
}

body .home .card {
  width: 100%;
  height: 100%;
  background-image: url("../assets/coffee-img.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .home .card h2 {
  font-size: 100px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #b56230;
}

body .home .card a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  width: 250px;
  height: 70px;
  font-size: 32px;
  background-color: #b56230;
  border-radius: 4px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .home .card a:hover {
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 7px 7px 20px 16px #b56230;
          box-shadow: 7px 7px 20px 16px #b56230;
}

body .our-menu {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dbdbdb;
}

body .our-menu .card-menu {
  margin: 20px 5px 0px 5px;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffff;
}

body .our-menu .card-menu .card-img {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

body .our-menu .card-menu .card-img img {
  width: 100%;
}

body .our-menu .card-menu .card-content {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .our-menu .card-menu .card-content p {
  font-family: sans-serif;
}

body .our-menu .card-menu .card-content a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  width: 250px;
  height: 70px;
  font-size: 32px;
  background-color: #b56230;
  border-radius: 4px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .our-menu .card-menu .card-content a:hover {
  cursor: pointer;
}

body .contact {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

body .contact h1 {
  font-family: sans-serif;
}

body .contact form {
  background-color: #fff;
  width: 400px;
  height: 400px;
}

body .contact form .div-input {
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .contact form .div-input input, body .contact form .div-input #content {
  font-family: sans-serif;
  text-align: center;
  width: 80%;
  height: 40px;
  background-color: #fff;
  border: solid #dbdbdb 1px;
}

body .contact form .div-input input:focus, body .contact form .div-input #content:focus {
  outline: none;
}

body .contact form .div-input #content {
  height: 80px;
}

body .contact form .div-input #send {
  width: 40%;
  background-color: #0d6efd;
  color: #fff;
}

body .contact form .div-input #send:hover {
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */