@font-face {
    font-family: myFirstFont;
    src: url(Monoton-Regular.ttf);
    font-weight: bold;
  }
*,*::after,*::before{
    border: none; margin: 0; padding: 0; box-sizing: border-box; font-family: myFirstFont;
}
html {
    scroll-behavior: smooth;
  }

body{
    overflow-x:hidden;
    //moblie
    menu {
        display: none;

    }
    .menu-nav{
        display: none;
    }
    //moblie end
    //Nav Bar
    .navbar{
        width: 100vw;
        height: 60px;
        background-color: #000000;
        //nav-item
        .nav-item{
            width: 50%;
            height: 100%;
            float: right;
            display: flex;
            align-items: center;
            ul{
                width: 100%;
                display: flex;
                list-style: none;
                a{
                    margin-right:10px ;
                    width: 20%;
                    text-decoration: none;
                    text-align: center;
                    color: #fff;
                    li{
                        font-size: 15px;
                        line-height:25px;
                        width: 100%;
                        font-weight: 700;
                        font-weight: bold;
                        letter-spacing: 1.5px;
                        text-transform: uppercase;
                       }
                }
            }
        }
        //END nav-item
        // nav-logo
        .nav-logo{
            width: 50%;
            height: 100%;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
             h1{
                 color: #fff;
             }
             img{
                 width: 50px;
             }
        }
        // nav-logo END
    }
    //End Nav Bar
    //Home
    .home{
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: #302f2f;
    .card{
         width: 100%;
         height: 100%;
         background-image: url('../assets/coffee-img.jpg');
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         h2{
             font-size: 100px;
             letter-spacing: 5px;
             text-transform: uppercase;
             color: #b56230;
         }
         a{
             text-decoration: none;
             font-family: 'Courier New', Courier, monospace;
             font-weight: bolder;
             width: 250px;
             height:70px;
             font-size: 32px;
             background-color:#b56230;
             border-radius: 4px;
             color: #000000;
             display: flex;
             align-items: center;
             justify-content:center;
         }
         a:hover{
             cursor:pointer;
             color: #fff;
             box-shadow: 7px 7px 20px 16px #b56230;
         }
    }
    }
     //Home ENd
     //our-menu
    .our-menu{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #dbdbdb;
        //card-menu
        .card-menu{
            margin: 20px 5px 0px 5px;
            width: 300px;
            height: 400px;
            border-radius:10px;
            overflow:hidden;
            background-color: #ffff;
            //card-img
            .card-img{
                width: 100%;
                height: 50%;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            //card-img End
            //card-content
            .card-content{
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                p{
                    font-family: sans-serif;
                }
                a{
                    text-decoration: none;
                    font-family: 'Courier New', Courier, monospace;
                    font-weight: bolder;
                    width: 250px;
                    height:70px;
                    font-size: 32px;
                    background-color:#b56230;
                    border-radius: 4px;
                    color: #000000;
                    display: flex;
                    align-items: center;
                    justify-content:center;
                }
                a:hover{
                    cursor:pointer;
                }
            }
            //End card-content
        }
        //end card-menu

    }
    //End our-menu
    //contact
    .contact{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        h1{
            font-family: sans-serif;

       }
        //form
        form{
            background-color: #fff;
            width: 80%;
            height: 400px;
            // div input
            .div-input{
                width: 100%;
                height: 25%;
                display: flex;
                align-items: center;
                justify-content: center;
                //input
                 input,#content{
                     font-family: sans-serif;
                     text-align: center;
                     width: 80%;
                     height: 40px;
                     background-color:#fff ;
                     border: solid #dbdbdb 1px;
                 }
                 input:focus,#content:focus{
                     outline: none;
                 }
                 #content{
                     height: 80px;
                 }
                 #send{
                     width: 40%;
                     background-color: #0d6efd;
                     color: #fff;
                 }
                 #send:hover{
                     cursor: pointer;
                 }
                //End input
            }
            // ENd div input
        }
        //form End
    }
    //End contact
    //about
    .about{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content:center;
        h1{
            margin: 10px;
            text-align: center;
            font-family: sans-serif;
        }
        p{
            font-family: sans-serif;
            width: 50%;
            text-align: center;
        }
        //social media
        .social-media{
            margin: 10px auto;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                margin: auto 20px;
                text-decoration: none;
                color: #000000;
                li{
                    list-style: none;
                    font-family: sans-serif;
                    font-weight: bolder;
                }
            }
        }
        //End social media

    }
    //End about
}
@media screen and (max-width:700px ) {
body{
    overflow-x: hidden;
      //Nav Bar
    .navbar{
        display: none;
    }
    menu {
        display: block;
        position: fixed;
        top: 30px;
        right: 30px;
        color: #fff;
        img{
            width: 50px;
            position: absolute;
            top: 30px;
            right: 30px;
        }
    }
    .menu-nav{
        display: none;
        width: 100vw;
        height: 100vh;
        background-color: #000000;
        position: fixed;
        z-index: 99;
        align-items: center;
        justify-content: center;
        img {
            width: 50px;
            position: absolute;
            top: 30px;
            right: 30px;
          }
        ul {
            list-style: none;
            a {
              text-decoration: none;
              background-color: #000;
              color: #fff;
              font-size: 20px;
              width: 200px;
              height: 40px;
              margin: 10px auto;
              border: 1px solid #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              li{
                font-family: sans-serif;
              }
            }
          }
    }
    //End Nav Bar
    //home
    .home{
        .card{
          h2{
              font-size: 20px;
              margin-bottom: 20px;
          }
        }
    }
    //end home
     //our-menu
     .our-menu{
        height: 100%;
        flex-direction: column;
        .card-menu:last-of-type{
         margin-bottom: 100px;
        }
     }
     //our-menu

}
}
@media screen and (max-width:1000px ) and (min-width:700px){
 //our-menu
 .our-menu{
flex-wrap: wrap
 }
  //our-menu
  //about
  .about{
   h1{
   font-size: 100px;
   }
   p{
       font-size: 30px;
   }
   a{
       li{
           font-size: 30px;
       }
   }
  }
   //about End
}