@font-face {
    font-family: myFirstFont;
    src: url(Monoton-Regular.ttf);
    font-weight: bold;
  }
*,*::after,*::before{
    border: none; margin: 0; padding: 0; box-sizing: border-box; font-family: myFirstFont;
}

body{
    //Nav Bar
    .navbar{
        width: 100vw;
        height: 60px;
        background-color: #000000;
        //nav-item
        .nav-item{
            width: 50%;
            height: 100%;
            float: right;
            display: flex;
            align-items: center;
            ul{
                width: 100%;
                display: flex;
                list-style: none;
                a{
                    margin-right:10px ;
                    width: 20%;
                    text-decoration: none;
                    text-align: center;
                    color: #fff;
                    li{
                        font-size: 15px;
                        line-height:25px;
                        width: 100%;
                        font-weight: 700;
                        font-weight: bold;
                        letter-spacing: 1.5px;
                        text-transform: uppercase;
                       }
                }
            }
        }
        //END nav-item
        // nav-logo
        .nav-logo{
            width: 50%;
            height: 100%;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
             h1{
                 color: #fff;
             }
             img{
                 width: 50px;
             }
        }
        // nav-logo END
    }
    //End Nav Bar
    //Home
    .home{
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: #302f2f;
    .card{
         width: 100%;
         height: 100%;
         background-image: url('../assets/coffee-img.jpg');
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         h2{
             font-size: 100px;
             letter-spacing: 5px;
             text-transform: uppercase;
             color: #b56230;
         }
         button{
             font-family: 'Courier New', Courier, monospace;
             font-weight: bold;
             width: 250px;
             height:70px;
             font-size: 32px;
             background-color:#b56230;
             border-radius: 4px;
         }
         button:hover{
             cursor:pointer;
             color: #fff;
             box-shadow: 7px 7px 20px 16px #b56230;
         }
    }
    }
     //Home ENd
}